SUI_PRIVATE_KEY=
SuiOnRampStateObjectID=
SuiLinkToken=
SuiManyChainMultisigPackageId=
SuiOffRampStateObjectId=
SuiLinkTokenTreasuryCapId=
SuiOffRamp=
SuiTokenPool=
SuiCCIP=
SuiCCIPFeeQuoterCap=
SuiRouter=
SuiOffRampOwnerCapObjectId=
SuiLinkTokenObjectMetadataId=
SuiOnRamp=
SuiCCIPObjectRef=