SUI_PRIVATE_KEY=

CCIP_PACKAGE_ID=
ONRAMP_PACKAGE_ID=
LR_POOL_PACKAGE_ID=
BM_POOL_PACKAGE_ID=

LINK_COIN_TYPE=
ETH_COIN_TYPE=

CCIP_STATE_ID=
CCIP_OWNER_CAP_ID=
ONRAMP_STATE_ID=

LR_POOL_STATE_ID=
BM_POOL_STATE_ID=

ETH_TREASURY_CAP_ID=
LINK_TREASURY_CAP_ID=
ETH_METADATA=
LINK_METADATA=
ETH_COIN_OBJECT=
LINK_COIN_OBJECT=

FEE_TOKEN_OBJECT=
